body{
    margin: 0%;
    padding: 0%;
    background: linear-gradient(130deg, #343549, rgba(255,0,0,0)50.71%),
                linear-gradient(300deg, #404790, rgba(0,255,0,0) 70.71%),
                linear-gradient(100deg, #61648D, rgba(0,0,255,0) 70.71%),
                linear-gradient(230deg, #69AEFF, rgba(0,255,0,0) 70.71%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}
/* ======================================================================================================================================================================================================================== */
.contentSuper{
    display: grid;
    
}
/* ======================================================================================================================================================================================================================== */
.contentSuperA1{
    display: flex;
    justify-content:space-evenly;
}
/* ======================================================================================================================================================================================================================== */
.contentIzq{
    width: 15vw;
    height: 80vh;
    border: #343549 solid;
    display: flex;
}
.estImg{
    width: 5vw;
    height: 80vh;
    display: grid;
    border: #343549 solid;
}
.estLet{
    width: 10vw;
    height: 80vh;
    border: #343549 solid;
}
/* ======================================================================================================================================================================================================================== */
.contentCen{
    width: 60vw;
    height: 80vh;
    border: #343549 solid;
    display: grid;
    justify-content: center;
}
/* ============================ */

.parcentaje1{
    width: 34VW;
    height: 14vh;
    border: #989edd solid;
    display: flex;
    justify-content: space-evenly;
}
.cajaA1{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
.cajaA2{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
.cajaA3{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
.cajaA4{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
/* ============================ */
.porcentaje2{
    width: 54VW;
    height: 14vh;
    border: #0fdffa solid;
    display: flex;
    justify-content: space-between;
}
.cajaIzq{
    gap: 16px;
    display: flex;
    justify-content: space-around;
}
.cajaDer{
    gap: 16px;
    display: flex;
    justify-content: space-around;
}
.cajaB1{    
    width: 7VW;
    height: 13vh;
    border: #0fdffa solid;
}
.cajaB2{    
    width: 7VW;
    height: 13vh;
    border: #0fdffa solid;
}
.cajaB3{    
    width: 7VW;
    height: 13vh;
    border: #0fdffa solid;
}
.cajaB4{    
    width: 7VW;
    height: 13vh;
    border: #0fdffa solid;
}
/* ============================ */
.imgYConection{
    width: 50VW;
    height: 40vh;
    border: #0fdffa solid;
}
.connections{
    width: 12VW;
    height: 20vh;
    border: #0fdffa solid;
}
/* ======================================================================================================================================================================================================================== */
.contentDer{
    width: 15vw;
    height: 80vh;
    border: #343549 solid;
    display: flex;
}
/* ======================================================================================================================================================================================================================== */
.contentInf{
    width: 80vw;
    height: 15vh;
    border: #343549 solid;
}