body{
    margin: 0%;
    padding: 0%;
    background-color: black;
    background: linear-gradient(130deg, #141527, rgba(0, 0, 0, 0)110.71%),
                linear-gradient(140deg, #0b0e2c, rgba(23, 29, 23, 0) 80.71%),
                linear-gradient(110deg, #2a2d44b7, rgba(0, 0, 0, 0) 80.71%),
                linear-gradient(300deg, #000000, rgba(17, 22, 17, 0) 80.71%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
}
/* ======================================================================================================================================================================================================================== */
.contentSuper{
    display: grid;
    
}
/* ======================================================================================================================================================================================================================== */
.contentSuperA1{
    display: flex;
    justify-content:space-evenly;
}
/* ======================================================================================================================================================================================================================== */
.contentIzq{
    width: 15vw;
    height: 80vh;
    border: #343549 solid;
    display: flex;
}
.estImg{
    width: 5vw;
    height: 80vh;
    display: grid;
    border: #343549 solid;
}
.estLet{
    width: 10vw;
    height: 80vh;
    border: #343549 solid;
}
/* ======================================================================================================================================================================================================================== */
.contentCen{
    width: 60vw;
    height: 80vh;
    border: #343549 solid;
    display: grid;
    justify-content: center;
}
/* ============================ */

.parcentaje1{
    width: 34VW;
    height: 14vh;
    border: #989edd solid;
    display: flex;
    justify-content: space-evenly;
}
.cajaA1{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
.cajaA2{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
.cajaA3{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
.cajaA4{    
    width: 7VW;
    height: 13vh;
    border: #989edd solid;
}
/* ============================ */
.porcentaje2{
    width: 54VW;
    height: 14vh;
    border: #0fdffa solid;
    display: flex;
    justify-content: space-between;
}
.cajaIzq{
    gap: 16px;
    display: flex;
    justify-content: space-around;
}
.cajaDer{
    gap: 16px;
    display: flex;
    justify-content: space-around;
}
.cajaB1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7VW;
    height: 13vh;
    background-color: #55587e65;
    border-radius: 10px;
}
.circulo1{
    width: 4.7vw;
    height: 9.3vh;
    border-radius: 50px;
    overflow: hidden;
}
svg {
    margin-top: -1.4vw;
    margin-left: -9.8vh;
    border: solid;
}
circle{
    fill:rgba(255, 255, 255, 0.288);
    stroke:#287be0;
    stroke-width: 13;
    stroke-dasharray: 10 100;
    transform: rotate(-54deg);
    transform-origin: 50%;
}
.circulo2{
    width: 4.2vw;
    height: 8.3vh;
    margin-top: -5.8vw;
    margin-left: 0.2vw;
    border-radius: 50px;
    background-color: #141636;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.cajaB2{    
    width: 7VW;
    height: 13vh;
    border: #0fdffa solid;
}
.cajaB3{    
    width: 7VW;
    height: 13vh;
    border: #0fdffa solid;
}
.cajaB4{    
    width: 7VW;
    height: 13vh;
    border: #0fdffa solid;
}
/* ============================ */
.imgYConection{
    width: 50VW;
    height: 40vh;
    border: #0fdffa solid;
}
.connections{
    width: 12VW;
    height: 20vh;
    border: #0fdffa solid;
}
/* ======================================================================================================================================================================================================================== */
.contentDer{
    width: 15vw;
    height: 80vh;
    border: #343549 solid;
    display: flex;
}
/* ======================================================================================================================================================================================================================== */
.contentInf{
    width: 80vw;
    height: 15vh;
    border: #343549 solid;
}