body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
    background: linear-gradient(130deg, #141527, rgba(0, 0, 0, 0)110.71%),
                linear-gradient(140deg, #0b0e2c, rgba(23, 29, 23, 0) 80.71%),
                linear-gradient(110deg, #2a2d44b7, rgba(0, 0, 0, 0) 80.71%),
                linear-gradient(300deg, #000000, rgba(17, 22, 17, 0) 80.71%);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: white;
    flex-direction: column;
}
/* ======================================================================================================================================================================================================================== */
.contentSuper{
    display: grid;
    justify-content: center;
}
.tituloVehiculo{
    height:8vh;
    display:flex;
    justify-content: center;
}
.contentMedio{
    display: flex;
    justify-content: space-around;
}
/* --------------------------------- */
.contentIzq{
    width: 16vw;
    height: 80vh;
    display: flex;
    justify-content: end;
}
.estImg{
    width: 1.5vw;
    height: 79vh;
    display: grid;
    align-items: center;
}
.estLet{
    width: 13vw;
    height: 80vh;
    display: grid;
    align-items: center;
}
.letraEst1,.letraEst2,.letraEst3,.letraEst4,.letraEst5,.letraEst6,.letraEst7{

    font-size: 20px;
}
.estado1,.estado2,.estado3,.estado4,.estado5,.estado6,.estado7{
    font-size: 14px;
}

.estLet p{
    width: 10vw;
    height: 1vh;
}
/* --------------------------------- */
.contentCen{
    width: 60vw;
    display:grid;
    justify-content: center;
}
.porcentajesSuper{
    width: 60vw;
    height: 34vh;
    display: grid;   
}
.parcentaje1{
    width: 60VW;
    height: 14vh;
    display: flex;
    justify-content: space-evenly;
}
.cajaA{    
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8VW;
    height: 15vh;
    border-radius: 5px;
    border: 1px solid #ffffff20;
    background: #ffffff1a;
    backdrop-filter: blur(10px) saturate(120%);
}
.cajaA span{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
circle{
    fill: none;
    stroke-width: 10;
    transform: rotate(90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: #989edd;
}
circle:nth-child(2){ /*el segundo circulo, es el que se ve por encima del anterior y debe tener el color mas intenso y el area del porcentaje */
    stroke: #0280fe;
    stroke-dasharray:var(--porcentaje) 100;
}
.porcentaje2{
    width: 60VW;
    height: 14vh;
    display: flex;
    justify-content: space-between;
}
.cajaIzq{
    gap: 90px;
    display: flex;
    justify-content: space-around;
}
.cajaDer{
    gap: 90px;
    display: flex;
    justify-content: space-around;
}
.cajaB{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8VW;
    height: 15vh;
    border-radius: 5px;
    border: 1px solid #ffffff20;
    background: #ffffff1a;
    backdrop-filter: blur(10px) saturate(120%);
}
.cajaB span{
    position: absolute;
    top: 0%;
    left: 0%;
    bottom: 0%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
circle{
    fill: none;
    stroke-width: 10;
    transform: rotate(90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: #989edd;
}
circle:nth-child(2){ /*el segundo circulo, es el que se ve por encima del anterior y debe tener el color mas intenso y el area del porcentaje */
    stroke:#0280fe;
    stroke-dasharray:var(--porcentaje) 100;
}
.imgYConection{
    width: 50VW;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    border: #0fdffa solid;
}
.connections{
    width: 15VW;
    height: 35vh;
    border-radius: 5px;
    color:#9499c3;
}
.dato1sConnctions{
    display: flex;
    gap: 33px;
}
.imagen{
    width: 30vw;
    height: 40vh;
    background-color: #0280fe;
}




.contentDer{
    position: relative;
    width: 15vw;
    height: 80vh;
    padding: 0 20px;
}
.contentDer .lineaPorcentaje{
    margin: 15px 0;
}
.barraPorcen{
    display: flex;
    justify-content: space-evenly;
}
.barraPorcen p{
    margin-top: 0px;    
}
.contentDer .lineaPorcentaje .barra{
    position: relative;
    width: 70%;
    height: 6px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.contentDer .lineaPorcentaje .barra::before{
    content: '';
    position: absolute;
    width: var(--barra);
    height: 100%;
    background: #0280fe;
}




.contentInf {
    display: flex;
    background-color: #141c30;
    width: 40%;
    height: 5vw;
    margin-left: 30%;
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
    justify-content: center;
}
.icons {
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.image {
    display: flex;
    flex-direction: column;
    color: rgb(189, 189, 189);
    height: 90%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.image img {
    width: 3vw;
}
  
.image p {
    margin: 0;
    font-size: 1.2vw;
    font-family: Roboto-Bold;
}
  
#Selected p {
    border-bottom: 2px solid white;
    color: white;
}
.stylesFinal{
    background-color: #141c30;
    width: 100vw;
    height: 2vh;
    margin-top: -0.5vw;
}
